# Arithmetic and Variables

In [1]:
print("My name is Aditya")

My name is Aditya

In [3]:
#We can also print the value of some arithmetic operation (such as addition, subtraction, multiplication, or division).
print(3+4)#addition
print(9-5)#substraction
print(3*5)#Multiplication
print(10/5)#division
print(23//6)#floor division
print(2**2)#exponent

7
4
15
2.0
3
4

In [4]:
#In general, Python follows the PEMDAS rule when deciding the order of operations
print(((1 + 3) * (9 - 2) / 2) ** 2)

196.0

In [5]:
#We use comments to annotate what code is doing. They help other people to understand your code, and they can also be helpful if you haven't looked at your own code in a while
 #Multiply 3 by 2
print(3 * 2)

6

RULES FOR CREATING A VARIABLE
.They can't have spaces (e.g., test var is not allowed)
.They can only include letters, numbers, and underscores (e.g., test_var! is not allowed)
.They have to start with a letter or underscore (e.g., 1_var is not allowed)

In [6]:
#Creating variables
## Create a variable called variable and give it a value of 4+5
variable = 4 + 5

# Print the value of test_var
print(variable)

9

In [7]:
#Manipulating variables
# Set the value of a new variable to 3
newvar = 3

# Print the value assigned to my_var
print(newvar)

# Change the value of the variable to 100
newvar = 100

# Print the new value assigned to my_var
print(newvar)

3
100

In [8]:
#Using multiple variables
#It's common for code to use multiple variables. This is especially useful when we have to do a long calculation with multiple inputs.
# variables creation
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

126144000

# Function

A function is a block of code designed to perform a specific task

In [10]:
# Define the function
def add(input_var):
    output_var = input_var + 3
    return output_var
add(5)#call the function

8

Every function is composed of two pieces: a header and body.
HEADER
>The function header defines the name of the function and its argument(s).
>Every function header begins with def, which tells Python that we are about to define a function.
In the example, the function name is add.
>In the example, the argument is input_var

BODY
>The function body specifies the work that the function does.
>It takes the argument as input, which in the example is input_var.
>The function creates a new variable output_var with the calculation output_var = input_var + 3.
>Then, the final line of code, called the return statement, just returns the value in output_var as the function's output.

In [13]:
def pay(num):
    # Pre-tax pay, based on receiving $15/hour
    pay_pretax = num * 15
    # After-tax pay, based on being in 12% tax bracket
    pay_aftertax = pay_pretax * (1 - .12)
    return pay_aftertax
# Calculate pay based on working 40 hours
pay_fulltime = pay(40)
print(pay_fulltime)

528.0

In [14]:
#Functions with multiple arguments
def add(a,b,c):
    d=a+b+c
    print(d)
    x=a-b*c
    print(x)
add(5,7,9)

21
-58

In [15]:
#Functions with no arguments
def hello():
    print("hello world")
    print("i am a data science student")
hello()

hello world
i am a data science student

# datatypes

In [16]:
#ntegers
#Integers are numbers without any fractional part and can be positive (1, 2, 3, ...), negative (-1, -2, -3, ...), or zero (0).
x = 456
print(x)
print(type(x))

456
<class 'int'>

In [17]:
#Floats
#Floats are numbers with fractional parts. They can have many numbers after decimal.
floatvalue= 3.1415944
print(floatvalue)
print(type(floatvalue))

3.1415944
<class 'float'>

In [20]:
#Round Function
# Round to 5 decimal places
roundfunction=456.678908848784773873
roundfunction = round(roundfunction, 5)
print(roundfunction)
print(type(roundfunction))

456.67891
<class 'float'>

In [21]:
#Booleans
#Booleans represent one of two values: True or False. In the code cell below, z_one is set to a boolean with value True
adi = True
print(adi)
print(type(adi))

True
<class 'bool'>

In [22]:
compare = (1 < 2)
print(compare)
print(type(compare))

True
<class 'bool'>

In [23]:
#Strings
#The string data type is a collection of characters (like alphabet letters, punctuation, numerical digits, or symbols) contained in quotation marks. Strings are commonly used to represent text.
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [24]:
shortest_string = "df"
print(type(shortest_string))
print(len(shortest_string))#finding length using  length function

<class 'str'>
2

In [25]:
#concatenation of string
#Just like you can add two numbers (floats or integers), you can also add two strings. It results in a longer string that combines the two original strings by concatenating them.
new_string = "Kumar " + "aditya"
print(new_string)
print(type(new_string))

Kumar aditya
<class 'str'>

In [26]:
newest_string = "GIET " * 3
print(newest_string)
print(type(newest_string))

GIET GIET GIET
<class 'str'>

conditional statement

In [1]:
print(2 > 3)

False

In [2]:
var_one = 1
var_two = 2

print(var_one < 1)
print(var_two >= var_one)

False
True

Symbol	Meaning
==	equals
!=	does not equal
<	less than
<=	less than or equal to
>	greater than
>=	greater than or equal to

In [4]:
def evaluate_temp(temp):
    # Set an initial message
    message = "Normal temperature."
    # Update value of message only if temperature greater than 38
    if temp > 38:
        message = "Fever!"
    return message
print(evaluate_temp(37))
print(evaluate_temp(39))

Normal temperature.
Fever!

In [5]:
def temp_with_else(temp):
    if temp>38:
        print("fever")
    else:
        print("normal temp")
temp_with_else(56)

fever

In [7]:
def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message
print(evaluate_temp_with_elif(36))
print(evaluate_temp_with_elif(34))

Normal temperature.
Low temperature.

In [8]:
def get_taxes(earnings):
    if earnings < 12000:
        tax_owed = .25 * earnings
    else:
        tax_owed = .30 * earnings
    return tax_owed
ana_taxes = get_taxes(9000)
bob_taxes = get_taxes(15000)

print(ana_taxes)
print(bob_taxes)

2250.0
4500.0

In [9]:
def get_dose(weight):
    # Dosage is 1.25 ml for anyone under 5.2 kg
    if weight < 5.2:
        dose = 1.25
    elif weight < 7.9:
        dose = 2.5
    elif weight < 10.4:
        dose = 3.75
    elif weight < 15.9:
        dose = 5
    elif weight < 21.2:
        dose = 7.5
    # Dosage is 10 ml for anyone 21.2 kg or over
    else:
        dose = 10
    return dose
get_dose(7.9)

3.75

introduction to list

In [10]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [11]:
#print the length of the list
print(len(flowers_list))

10

Indexing
We can refer to any item in the list according to its position in the list (first, second, third, etc). This is called indexing.

Note that Python uses zero-based indexing, which means that:

to pull the first entry in the list, you use 0,
to pull the second entry in the list, you use 1, and
to pull the final entry in the list, you use one less than the length of the list.

In [12]:
print("First entry:", flowers_list[0])
print("Second entry:", flowers_list[1])

# The list has length ten, so we refer to final entry with 9
print("Last entry:", flowers_list[9])

First entry: pink primrose
Second entry: hard-leaved pocket orchid
Last entry: globe thistle

Slicing
You can also pull a segment of a list (for instance, the first three entries or the last two entries). This is called slicing. For instance:

to pull the first x entries, you use [:x], and
to pull the last y entries, you use [-y:].

In [13]:
print("First three entries:", flowers_list[:3])
print("Final two entries:", flowers_list[-2:])

First three entries: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']
Final two entries: ['monkshood', 'globe thistle']

Removing items
Remove an item from a list with .remove(), and put the item you would like to remove in parentheses.

In [14]:
flowers_list.remove("globe thistle")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

Adding items
Add an item to a list with .append(), and put the item you would like to add in parentheses.

In [15]:
flowers_list.append("snapdragon")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snapdragon']

In [18]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales[2])
print("Minimum:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))
print("Total books sold in one week:", sum(hardcover_sales))
print("Average books sold in first five days:", sum(hardcover_sales[:5])/5)

Length of the list: 7
Entry at index 2: 172
Minimum: 128
Maximum: 191
Total books sold in one week: 1107
Average books sold in first five days: 153.8